<div class="section">
    <div class="block has-text-centered">
        <h1 class="title is-size-1 has-text-danger">404</h1>
        <h2 class="subtitle is-size-3">Not Found</h2>
        <span class="icon is-large has-text-danger">
            <i class="icofont-sad"></i>
        </span>
    </div>
</div>
