<center><h1 class="title is-family-primary">Chefs Page</h1></center>
<script src="/js/search.js"></script>
<script>

    function change_name() 
    {
        document.getElementById("Search Name").innerHTML = document.getElementById("name").value;
        document.getElementById("Search Name Label").style.visibility = "visible";
        document.getElementById("Search Name").style.visibility = "visible";
        load_chef_data();
    }

</script>

<center>
   <div class="field">
        <p class="control has-icons-left">
            <input class="input is-primary is-medium is-rounded is-family-code" type="text" id="name" name="name" placeholder="Who do you want to meet??">
        </p>
    </div>
    <div class="field">
        <button class="button is-primary is-size-4" id="search" onclick="change_name()">Search</button>
    </div>
</center>
<h3 class="subtitle has-text-success" id="Search Name Label" style="visibility: hidden;">Search Results For </h3><h2 id="Search Name" style="visibility: hidden;"></h2>

<div id="Results"></div>