<link rel="stylesheet" href="/css/login.css">

<form action="/authentication" method="POST">
    <label for="uname">UserName</label>
    <input type="text" name="uname" value="User Name Here!" onfocus="this.value=''">
    <label for="password">Password</label>
    <input type="text" name="password" value="Password Here!" onfocus="this.value='';this.type='password'">
    <center>
        <button type="submit">Log-In</button>
    </center>
</form>
<center>
    <a href="/signup"><button id="signup">Sign Up</button></a>
</center>
