<link rel="stylesheet" href="/css/login.css">

<form action="/upgrade" method="post" enctype="multipart/form-data">
    <label for="url">Your Website Address</label>
    <input type="text" name="url" value="If Available" onfocus="this.value=''">
    <label for="Telephone">Your Telephone Number</label>
    <input type="number" name="Telephone" value="" onfocus="this.value=''">
    <label for="Profile Pic">Your Picture</label>
    <input type="file" accept="image/*" id="Profile Pic" name="Profile Pic">
    <center>
        <button type="submit">Become Chef</button>
    </center>
</form>
