<link rel="stylesheet" href="/css/login.css">

<form action="/signing_up" method="POST">
    <label for="uname">UserName</label>
    <input type="text" name="uname" value="User Name Here!" onfocus="this.value=''">
    <label for="password">Password</label>
    <input type="text" name="password" value="Password Here!" onfocus="this.value='';this.type='password'">
    <label for="dob">Age</label>
    <input type="date" name="dob">
    <label for="Gender">Gender</label>
    <br>
    <label for="Male">Male</label><input type="radio" name="Gender" value="false" checked="checked" id="Male">
    <label for="Female">Female</label><input type="radio" name="Gender" value="true" id="Female">
    <center>
        <button type="submit">Sign Up</button>
    </center>
</form>