<div class="block">
    <section class="section is-size-4">
        <form action="/signing_up" method="POST">
            <div class="field">
                <label class="label" for="uname">UserName</label>
            </div>
            <div class="field">
                <input type="text" name="uname" class="input is-link is-medium is-rounded is-family-code" placeholder="UserName Here">
            </div>
            <div class="field">
                <label class="label" for="password">Password</label>
            </div>
            <div class="field">
                <input type="text" name="password" class="input is-link is-medium is-rounded is-family-code" placeholder="Password Here">
            </div>
            <div class="field">
                <label class="label" for="dob">Age</label>
            </div>
            <div class="field">
                <input type="date" id="dob" name="dob" class="input is-link is-medium is-rounded is-family-code">
            </div>
            <div class="field">
                <label class="label" for="Gender">Gender</label>
                <label class="radio" for="Male">Male</label><input type="radio" name="Gender" value="false" checked="checked" id="Male">
                <label class="radio" for="Female">Female</label><input type="radio" name="Gender" value="true" id="Female">
            </div>
            <div class="field">
                <center>
                    <button class="button is-success" type="submit">Sign Up</button>
                </center>
            </div>
        </form>
    </section>
</div>
